* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 2px dotted hotpink;
}
main {
    display: flex;
    padding: 40px;
}

.container {
    margin: 0 auto;
    min-height: 140px;
    width: 60%;
    background-color: yellow;
}

.flexed {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.top {
    border: 3px solid red;
    width: 100%;
}
p {
    9
}

#bottomtext {
    border: 3px dotted greenyellow;
}