* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main {
    display: flex;
    padding: 40px;
}

.container {
    margin: 0 auto;
    min-height: 140px;
    width: 40%;
    background-color: white;
    border: 3px solid black;
    border-radius: 2px;
    flex-direction: column;
}

.flexed {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.row {
    width: 100%;
    min-height: 70px;
    padding: 15px;
}
#top span {
    margin-left: 40px;
    padding-left: 30px;
}

button {
    min-height: 30px;
    width: 70px;
    background-color: rgb(255, 213, 73);
    border: 2px solid black;
    box-shadow: black 4px 2px 2px 0;
}

#bottom p {
    font-size: 20px;
}